// @import './sass/bulma';
// @import './node_modules/bulma/bulma';
@import '../node_modules/normalize.css/normalize.css';
@import './sass/variables';
@import './sass/typography';

// PAGES
@import './sass/partials/app';
@import './sass/partials/welcome';
@import './sass/partials/closed';
@import './sass/partials/gallery';
@import './sass/partials/navigation';

// COMPONENTS
@import './sass/partials/react-spinner';