#app {
    background: url('/assets/background.jpg') repeat;
}

.page-wrapper {
    section {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &.has-navigation {
        section {
            height: calc(100vh - 140px);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

a {
    text-decoration: none;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.show {
    visibility: visible;
    opacity: 1;
}

.btn {
    font-size: 10px;
    display: inline-block;
    color: $dark-grey;
    text-transform: uppercase;
    padding: 8px 16px;
    cursor: pointer;
    margin: 4px;
    &:hover {
        color: $light-grey;
    }
    &.primary-btn {
        font-size: 14px;
        border: #ccc solid 1px;
        &:hover {
            color: inherit;
            transition: all 0.4s;
            background: rgba(0,0,0,0.04);
        }
    }
}