$color: #ccc;

$height-icon: 24px;
$width-line: 40px;
$height-line: 4px;

$transition-time: 0.3s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;

#navigation-toggle {
    position: absolute;
    top: 0;
    left: 0;
    padding: 32px;
    z-index: 999;
    cursor: pointer;
    @media screen and (max-width: $mobile) {
        padding: 24px;
    }
    #hamburger {
        width: $width-line;
        height: $height-icon;
        position: relative;
        display: block;
        // margin: ($height-icon * 2) auto $height-icon auto;
        .line {
            display: block;
            background: $color;
            width: $width-line;
            height: $height-line;
            position: absolute;
            left: 0;
            border-radius: ($height-line / 2);
            transition: all $transition-time;
            -webkit-transition: all $transition-time;
            -moz-transition: all $transition-time;
            &.line-1 {
                top: 0;
            }
            &.line-2 {
                top: 50%;
            }
            &.line-3 {
                top: 100%;
            }
        }
        &.active {
            .line-1 {
                transform: translateY($translateY) translateX($translateX) rotate($rotation);
                -webkit-transform: translateY($translateY) translateX($translateX) rotate($rotation);
                -moz-transform: translateY($translateY) translateX($translateX) rotate($rotation);
            }
            .line-2 {
                opacity: 0;
            }
            .line-3 {
                transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
                -webkit-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
                -moz-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
            }
        }
    }
    &:focus,
    &:hover {
        .line-1 {
            transform: translateY($height-line / 2 * -1);
            -webkit-transform: translateY($height-line / 2 * -1);
            -moz-transform: translateY($height-line / 2 * -1);
        }
        .line-3 {
            transform: translateY($height-line / 2);
            -webkit-transform: translateY($height-line / 2);
            -moz-transform: translateY($height-line / 2);
        }
    }
}