#navigation {
    #navigation-toggle {
        position: absolute;
        top: 32px;
        left: 32px;
        z-index: 999;
        cursor: pointer;
        @media screen and (max-width: $mobile) {
            top: 24px;
            left: 24px;
        }
    }
    #navigation-drawer {
        position: absolute;
        left: -$nav-width;
        width: $nav-width;
        height: 100vh;
        transition: left $nav-speed;
        transition-timing-function: $nav-easing;
        // background: rgba(255,0,0,0.1);
        &.active {
            left: 0;
        }
        #nav-wrapper {
            margin: 80px 32px 0 32px;
            h1 {
                color: #ccc;
                margin: 0;
            }
            .divider {
                background: #ccc;
                width: 42px;
                height: 4px;
                border-radius: 2px;
                margin: 32px 0;
            }
            .nav-item {
                a {
                    display: inline-block;
                    width: 100%;
                    padding: 8px 0;
                    color: $light-grey;
                    font-size: 30px;
                    font-weight: 700;
                }
                &.active a {
                    color: $dark-grey;
                }
                &:hover a {
                    color: $dark-grey;
                }
            }
        }
    }
}
// #navigation {
//     height: 140px;
//     display: flex;
//     align-items: center;
//     &:hover {
//         .nav-brand a {
//             // color: $dark-grey;
//         }
//     }
//     a {
//         &:hover {
//             color: $dark-grey !important;
//         }
//     }
//     .nav-brand {
//         margin-left: 40px;
//         &.active a {
//             color: $dark-grey;
//         }
//         a {
//             color: $super-light-grey;
//             font-size: 8vh;
//             font-weight: 700;
//             padding: 20px;
//             transition: all 0.3s;
//         }
//     }
//     .nav-item {
//         &.active a {
//             color: $dark-grey;
//         }
//         a {
//             color: $light-grey;
//             font-size: 3vh;
//             padding: 20px;
//         }
//     }
// }