#purchase {
    .content {
        max-width: 800px;
        width: 100%;
    }
    .canvas-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        height: 400px;
    }
    label {
        color: $light-grey;
        font-size: 10px;
        font-weight: 400;
        display: block;
        margin-bottom: 8px;
    }

    input, textarea {
        border: 1px solid $super-light-grey;
        outline-color: $dark-grey;
        outline-width: 3px;
        margin-bottom: 16px;
        max-width: 300px;
        width: 100%;
        font-size: 12px;
    }

    input {
        height: 24px;
    }

    textarea {
        resize: none;
    }
}
