body {
    background: #fff;
}

nav {

}
#content {
    color: #333;
    font-size: 20px;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#image {
    width: 100vw;
    height: calc(100vh - 61px);
}

// .loader {
//     div {
//         background: #fff;
//     }
// }

#welcome {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}