@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 12px;
    color: $dark-grey;
    margin-bottom: 1em;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $dark-grey;
    margin: 0 0 0.5em 0;
}

h1 {
    font-size: 60px;
}
h2 {

}
h3 {
    color: $super-dark-grey;
    font-size: 20px;
    font-weight: 700;
}
h4 {
    font-size: 16px;
    font-weight: 700;
}
h5 {
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
}
h6 {
    color: $light-grey;
    font-size: 10px;
}

a {
    color: $dark-grey;
}