// COLORS

$super-light-grey: #ddd;
$light-grey: #aaa;
$dark-grey: #666;
$super-dark-grey: #333;

// MEDIA QUERIES

$mobile: 768px;

// NAVIGATION
$nav-width: 300px;
$nav-speed: 0.6s;
$nav-easing: cubic-bezier(0,0,0,1);
